//
   Created by ChenLetian on 16/4/25.

- args = JSON.parse(args);
.logo_large
    a.no_decoration.always_black(href="/")
        h1= args.title
.search
    span.placeholder= "searching"
    input
.right_position
    div.nav_list
        ul.nav_list
            li= "index"
            li= args.username
    div.tool_list
        ul.tool_list
            li= "未读消息"
            li= "设置"